@use 'colors.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.icon-btn {
  cursor: pointer;
  font-size: 1.58em;
  opacity: 1;
  transition: opacity;
}

.icon-btn:hover {
  opacity: 0.5;
  transition: opacity colors.$transition;
}

.form-input {
  margin: 10px 0;
}

.file-input input {
  display: none;
}

button, .file-input, input[type='file']::-webkit-file-upload-button {
  margin: 0 5px;
  height: 30px;
  display: block;
  border: none;
  background-color: colors.$secondary;
  color: colors.$secondary-text;
  font-size: 16px;
  font-family: inherit;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color colors.$transition;
}

button:hover, .file-input:hover, input[type='file']::-webkit-file-upload-button:hover {
  background-color: colors.$secondary-light;
  outline: none;
  transition: background-color colors.$transition;
}

button:active, input[type='file']::-webkit-file-upload-button:active {
  background-color: colors.$secondary-dark;
  transition: background-color colors.$transition;
}

button:disabled {
  background-color: #616161;
  transition: background-color colors.$transition;
}

.checkbox {
  display: block;
  position: relative;
  user-select: none;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: colors.$secondary-text;
  transition: background-color colors.$transition;
  border: 2px solid colors.$secondary;
  border-radius: 5px;
}

.checkbox input:checked ~ .checkmark {
  background-color: colors.$secondary;
}

.checkbox .checkmark i {
  color: colors.$secondary-text;
  opacity: 0;
  transition: opacity colors.$transition;
}

.checkbox input:checked ~ .checkmark i {
  opacity: 1;
  transition: opacity colors.$transition;
}

/* SEMINAR PRIORITIES */

.lecture {
  background-color: colors.$priority-lecture;
}

.seminar.priority-1 {
  background-color: colors.$priority-1;
  color: colors.$priority-1-bg;
}

.seminar.priority-2 {
  background-color: colors.$priority-2;
  color: colors.$priority-2-bg;
}

.seminar.priority-3 {
  background-color: colors.$priority-3;
  color: colors.$priority-3-bg;
}

.seminar.priority-4 {
  background-color: colors.$priority-4;
  color: colors.$priority-4-bg;
}

.seminar.priority-5 {
  background-color: colors.$priority-5;
  color: colors.$priority-5-bg;
}

.seminar.priority-6 {
  background-color: colors.$priority-6;
  color: colors.$priority-6-bg;
}

.seminar.priority-7 {
  background-color: colors.$priority-7;
  color: colors.$priority-7-bg;
}

.seminar.priority-8 {
  background-color: colors.$priority-8;
  color: colors.$priority-8-bg;
}

.seminar.priority-9 {
  background-color: colors.$priority-9;
  color: colors.$priority-9-bg;
}

.seminar.priority-10 {
  background-color: colors.$priority-10;
  color: colors.$priority-10-bg;
}

.seminar.priority-11 {
  background-color: colors.$priority-11;
  color: colors.$priority-11-bg;
}

.seminar.priority-12 {
  background-color: colors.$priority-12;
  color: colors.$priority-12-bg;
}

.seminar.priority-13 {
  background-color: colors.$priority-13;
  color: colors.$priority-13-bg;
}

.seminar.priority-14 {
  background-color: colors.$priority-14;
  color: colors.$priority-14-bg;
}

.seminar.priority-15 {
  background-color: colors.$priority-15;
  color: colors.$priority-15-bg;
}

.seminar.priority-16 {
  background-color: colors.$priority-16;
  color: colors.$priority-16-bg;
}

.seminar.hidden {
  opacity: 0.5;
}
